<footer class="bg-dark p-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h3 class="text-light">Tambien podés contactarme</h3>
                <p class="text-light">No dudes en
                    contactarme a través de mis redes sociales</p>
            </div>
            <div class="col-md-6">
                <h3 class="text-light mb-4 text-end">REDES SOCIALES</h3>
                <div class="d-flex justify-content-end">
        
                    <a href="https://www.linkedin.com/in/gast%C3%B3n-d%C3%ADaz-7b886ba3/" class="socila-icon" target="_blank" button onclick ><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/nagots23" class="socila-icon" target="_blank" button onclick><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>

        <hr style="color: aliceblue;">
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-secondary">© 2023 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p class="text-end text-secondary">Hecho por Gastón Díaz</p>
            </div>
        </div>
    </div>
</footer>