<section class="container p-5" id="portfolio">
    <h2 class="text-center"> Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/web-scraper.png') }}" alt="Imagen del proyecto"
                    class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">Web scraper - Python</h5>
                    <p class="card-text">Este es un proyecto de web scrapping utilizando Python y XPath para obtener información sobre un periódico colombiano.</p>
                    <a href="https://github.com/nagots23/Web-scraper" class="nav-link text-primary" target="_blank" button onclick>Link acá</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/fig-delitos.png') }}" class="d-block mx-lg-auto img-fluid"
                    alt="Imagen del proyecto">
                <div class="card-body">
                    <h5 class="card-title">Análisis de datos</h5>
                    <p class="card-text">Este es un proyecto completo sobre análisis de delitos en Ciudad Autónoma de Buenos Aires, utilizando Python, Google Colab y librerías para análisis de datos.</p>
                    <a href="https://github.com/nagots23/An-lisis-de-delitos-2021" class="nav-link text-primary" target="_blank" button onclick>Link acá</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/api.jpg') }}" class="d-block mx-lg-auto img-fluid"
                    alt="Imagen del proyecto">
                <div class="card-body">
                    <h5 class="card-title">API de Contactos - Flask</h5>
                    <p class="card-text">Esta es una API-REST para crear y administrar una lista de contatos,
                        utilizando Flask y una base de datos relacional como es SQLite.</p>
                    
                    <a href="#" class="nav-link text-primary">Link acá</a>
                </div>
            </div>
        </div>


        <!-- Agrega más tarjetas de proyectos si lo deseas -->

    </div>
</section>